.ProfilePagePostContainer {
  margin-top: 30px;
}

.ProfilePagePostContentContainer {
  background-color: #2f435b;
  color: #eceff4;
  display: flex;
  flex-direction: column;
  min-height: 100px;
  max-height: 300px;
  overflow-y: auto;
  margin: 20px 30px 0px 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  word-wrap: break-word;
  padding: 20px;
  line-height: 1.6;
  font-size: 16px;
}

.ProfilePageLikeDislikeCommentContainer {
  background-color: #81a1c1;
  display: flex;
  height: 30px;
  width: auto;
  max-width: 200px;
  min-width: 150px;
  overflow-x: hidden;
  margin-left: auto;
  margin-right: 30px;
  margin-bottom: 20px;
  box-shadow: 3px 3px #d3d3d3;
  border-radius: 5px;
  word-wrap: break-word;
  overflow: hidden;
  justify-content: center;
  gap: 5px;
}
